{% extends 'base.html' %}
{% load static %}

{% block title %} About - Shogun Speaks {% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Shogun_speaks/about.css' %}">
    <link rel="stylesheet" href="{% static 'static/app.css' %}">
{% endblock css_files %}

{% block content %}
<h1 class="title-about">
    ABOUT
</h1>

<div class="about-content">
    Giggling and laughing on Discord and talking Anime to Setting up a blog and a full-blown site, it's been a wild ride. Shogun Speaks is a passion project born out of our aspiration to deliver and resonate our thoughts with millions of other like-minded people. Our thoughts on a palette to read for others were always our mission. We are hectic in our daily lives, and this is our getaway.
    <br>
    <br>
    <b>Saad (Founder):</b> I have always been that shy kid, in class and the wild kid online. Have been dipping my toes in games, movies, shows, and anime for as long as I can remember. Currently pursuing a bachelor's degree in English and hopefully, this adds a nice badge to my resume. A fun fact about me is that I drink chamomile every night before sleep, not only does it trigger deep sleep, but I feel fresh and refreshed the other day. You should try it out as well!
    <br>
    <br>
    <b>Praney (Founder):</b> Greetings dear readers! It hasn’t been long since I have been immersed in the Steller and fascinating media we call anime but ever since I was introduced to it, I’ve been really consumed and am constantly delving deep into this form of expression discovering and experiencing newfound emotions emanating from the dynamics of animation, comprehensive storytelling, astonishing artwork, melancholic music, and ofc immersive voice acting. 
    Needless to say, most of this is well exaggerated, very few of them are able to hit the mark and I hope to express my heart through my words, hope we get along well!
    <br>
    <br>
    <b>Pratham ( Founder):</b> A Good memory is something which has both good and bad aspects to it. I’ve been into video games ever since I discovered the sorcery of technology ( I know it's unreal how much joy it can give). From Pokemon glazed that no one remembers to Elden ring which got everyone hooked on soulsborne games, I created some great memories and through this project I wish to help people make the most out of their gaming experience and other things as well.
It was fun developing this project even though often I felt like karate chopping my computer when something won’t turn out as I wanted it to be but that's what makes things memorable. 
</div>

{% endblock content %}

