@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body {
  background: url("/static/the2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  
}

input {
  display: none;
}

.shogun {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  position: relative;
  width: 65%;
  margin:250px auto 100px;
  background-color: white;
  padding: 60px 20px;
}

#main-navigation {
  position: absolute;
  top: -40px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 100px;
  margin-bottom: 0;
  color: white;
}
.categories {
  position: relative;
  bottom: 50px;
  font-size: 30px;
  color: white;   
  font-family: 'Titillium Web', sans-serif;
}
.category {
  margin: 10px;
}

.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #2fd5ff;
  border-right: 3px solid #2fd5ff;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2fd5ff;
  border-left: 3px solid #2fd5ff;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #2fd5ff;
}

@media all and (max-width: 500px) {
  .title {
    font-size: 32px;
    margin-top: 39px;
  }

  input {
    display: block;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0.2rem;
    background-color: rgb(53, 139, 139, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .menu-wrap .hamburger > div {
    position: relative;
    width: 70%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-wrap .menu > div { 
    margin-right: 40px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 500vw;
    height: 500vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 80vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: black;
    font-size: 1rem;
    padding: 0.5rem;

  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .container {
    width: 90%;
    margin:60px auto 100px;
  }

}